/* Add your custom CSS here */
.section-selector-1 { background-color: var(--trend-700) }
.section-selector-1 > .badge span { color: var(--white-000) }
.section-selector-1 > .badge span { background-color: var(--trend-700) }
.section-selector-1 > .badge span { text-transform: uppercase }
.section-selector-1 { background-color: var(--trend-800) }

